<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Content/img/note.ico" type="image/x-icon" />
    <title>Blog</title>

    <!--CSS-->
    @Styles.Render("~/bundles/coreCSS")

</head>
<body>
    <!--LOGO / OPCIONES-->
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/news/index">
                        <section class="col col-sm-4 prueba">
                            <img src="/Content/img/logo.png" alt="" class="Imagen" />
                        </section>
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(linkText: "Discography", actionName: "Viewer", controllerName: "Discography")</li>
                    <li>@Html.ActionLink(linkText: "Lyrics", actionName: "Viewer", controllerName: "Lyrics")</li>
                    <li>@Html.ActionLink(linkText: "Reviews", actionName: "Viewer", controllerName: "Review")</li>
                    <li><a href="#">Videos</a></li>
                    @*<li>@Html.ActionLink(linkText: "Administracion Blog", actionName: "AdmBlog", controllerName: "Admnistrador")</li>*@
                </ul>
                <ul class="nav navbar-nav navbar-right Ocultar">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Registrarse</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <div id="footer">
            <div class="container">
                <p class="text-muted credit">&copy;BlogMusical.com</p>
            </div>
        </div>
    </div>

    <!--JS-->
    @Scripts.Render("~/bundles/coreJS")
    @RenderSection("ViewsJS", required: false)

</body>
</html>
